<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">




<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">
	
	    	<nav class="aw-menu  js-menu">
	      		<ul class="aw-menu__list">

	        		
	        		<li class="aw-menu__item">
          			<a th:href="@{/bovinos}">
          				<i class="fa  fa-fw  fa-search"></i>
          				<span>Consulta Bovino</span>
          			</a>
	        		</li>
	        		
	        		
	        		<li class="aw-menu__item">
          			<a th:href="@{/tarefas/ativas}">
          				<i class="fa  fa-fw  fa-search"></i>
          				<span>Tarefas em Aberto</span>
          			</a>
          			</li>
          			
	        		<li class="aw-menu__item">
          			<a th:href="@{/tarefas/concluidas}">
          				<i class="fa  fa-fw  fa-search"></i>
          				<span>Tarefas Finalizadas</span>
          			</a>
          			</li>
          			<li class="aw-menu__item">
          			<a th:href="@{/gestao/geral}">
          				<i class="fa  fa-fw  fa-search"></i>
          				<span>Gestão</span>
          			</a>
          			</li>
          			<li class="aw-menu__item">
          			<a th:href="@{/gestao/tarefas}">
          				<i class="fa  fa-fw  fa-search"></i>
          				<span>Tarefas - Gestão</span>
          			</a>
          			</li>
	        		

	
	      	</ul>
	    	</nav>
		</div>
	</aside>
	
	</html>