<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Simb WEB</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Parto</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form class="form-horizontal" method="POST" th:object="${parto}"
				action="/gestao/salvarParto" th:action="@{/gestao/salvarParto}">
				<div layout:include="layout/MensagemGeral"></div>
    			<!-- <div layout:include="layout/MensagemErro"></div> -->

				<div class="row">
					<div class="col-sm-2">
						<div class="col-sm-7">
							<div class="form-group">
								<label>Matriz</label> <select class="form-control"
									name="idFichaMatriz">
									<option th:each="bovino : ${matrizInseminada}"
										th:value="${bovino.fichaMatriz.idFichaMatriz}" th:text="${bovino.nomeBovino}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="dataParto">Data Parto</label> <input type="text"
									class="form-control" id="dataParto" name="dataParto" th:field="*{dataParto}"/>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-4">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="descricao">Status</label> <select
									class="form-control" name="status">
									<option value="Vivo">Vivo</option>
									<option value="Morto">Morto</option>
								</select>

							</div>
							
							
							
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="descricao">Descrição</label> <input type="text"
									class="form-control" id="descricao" name="descricao"/>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</form>
		</div>

	</section>
</body>
</html>