<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>Simb WEB</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Salvar Desmama</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form class="form-horizontal" method="POST" th:object="${desmama}"
				action="/gestao/desmama" th:action="@{/gestao/desmama}">
				<div layout:include="layout/MensagemGeral"></div>
				<div layout:include="layout/MensagemErro"></div>



				<div class="row">
					<div class="col-sm-3">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="descricao">Data de Desmama</label> <input
									type="text" class="form-control" id="dataDaInseminacao"
									name="dataDesmama" th:field="*{dataDesmama}" />
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Peso</label> <input type="text" class="form-control"
									id="peso" name="peso" th:field="*{peso}" />

							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-sm-3">
						<div class="col-sm-8">
							<div class="form-group">
								<label>Bovino</label> <select class="form-control"
									name="idBovino">
									<option th:each="bovino : ${bezerros}"
										th:value="${bovino.idBovino}" th:text="${bovino.nomeBovino}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Matriz</label> <select class="form-control"
									name="idFichaMatriz">
									<option th:each="tm : ${todasMatriz}"
										th:value="${tm.idBovino}" th:text="${tm.nomeBovino}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				
					
				
				<div class="col-sm-6">
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</form>
		</div>

	</section>
</body>
</html>